@import "tailwindcss";
@config "../tailwind.config.js";

/* 1. Global Font & Base Colors */
body {
  font-family: 'Geist', sans-serif;
  @apply bg-background text-on-surface;
}

/* 2. Material Icons Configuration */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* 3. React Root Reset */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}

/* For Firefox, IE, and Edge */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}